<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <appSettings>
    <add key="ThankYouUrl" value="http://kismsbat-dev:8082/barCode/ThankYou.jsp" />
    <add key="HeatTicketClose" value="http://localhost:11743/Pages/AttendanceSubmit.aspx" />
    <add key="AttendanceSubmission" value="http://localhost:11743/Pages/AttendanceSubmission.aspx" />
    <add key="AttendanceMarking" value="http://localhost:11743/Pages/AttendanceMarking.aspx" />
    <add key="StudentGrading" value="http://localhost:11743/Pages/StudentGrading.aspx" />
    <add key="Attendance" value="http://localhost:11743/Pages/Attendance.aspx" />
    <add key="StudentAttendance" value="http://localhost:11743/Pages/StudentAttendance.aspx" />
    <add key="MultiCRN" value="http://localhost:11743/Pages/MultiCRN.aspx" />
    <add key="SingleCRN" value="http://localhost:11743/Pages/StudentAttendance.aspx" />
    <add key="DataAPI" value="http://localhost:11743/Pages/DataAPI.aspx" />
    <add key="ImageHandler" value="http://localhost:11743/Handler/LoadImages.ashx" />
    <add key="DemoHeatId" value="12841" />
    <add key="webServiceUsername" value="IntHub-WebApp" />
    <add key="webServicePassword" value="rNxUgRPqX8L2Unf" />
    <add key="FromEmail" value="vsharma@kangan.edu.au" />
    <add key="ToEmail" value="vsharma@kangan.edu.au" />
    <add key="ToEmailLogin" value="vsharma" />
  </appSettings>  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IStudentAttendance"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webapp01d-doc/wcfSAM/StudentAttendance.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStudentAttendance" contract="ServiceReference1.IStudentAttendance" name="BasicHttpBinding_IStudentAttendance"/>
    </client>
  </system.serviceModel>
</configuration>