<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <appSettings>
    <add key="Application" value="http://localhost:43521/Pages/Application.aspx" />
    <add key="ApplicationData" value="http://localhost:43953/Pages/ApplicationData.aspx" />
    <add key="webServiceUsername" value="IntHub-WebApp" />
    <add key="webServicePassword" value="rNxUgRPqX8L2Unf" />
    <add key="DemoIs" value="rNxUgRPqX8L2Unf" />
    <add key="SQL01D-Doc" value="Server=SQL01D-Doc;Database=StudentHub;User Id=svc_StudentHub; Password=S95TuofOd4Ift1HtKA1U" />
    <add key="FromEmail" value="vsharma@kangan.edu.au" />
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
        <binding name="BasicHttpsBinding_IService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_ICourseApplication" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webapp01d-doc/USIService/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="USI.IService" name="BasicHttpBinding_IService" />
      <endpoint address="https://webapp01d-doc.kbtm.kangan.edu.au/USIService/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService"
        contract="USI.IService" name="BasicHttpsBinding_IService" />
      <endpoint address="http://webapp01d-doc/wcfSAM/CourseApplication.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICourseApplication"
        contract="HeatSVC.ICourseApplication" name="BasicHttpBinding_ICourseApplication" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Headers" value="accept, content-type" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>  
</configuration>